.flex-horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-horizontal-item {
  margin-right: 10px;
}

.flex-vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
}

.jumbotron {
  background: none;
}

.flex-horizontal h1 {
  justify-content: center;
}
