.flex-horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-horizontal-item {
  margin-right: 10px;
}

.jumbotron {
  background: none;
}

.flex-horizontal h1 {
  justify-content: center;
}
